In [1]:
import pandas as pd

In [2]:
stop_times = pd.read_csv(r'stop_times.txt')
trips = pd.read_csv(r'trips.txt')

In [3]:
stop_times['stop_idnx'] = stop_times.groupby(['trip_id'])['stop_id'].shift(-1)

In [4]:
bad_trips = pd.DataFrame()

In [5]:
# Bad Stops
bad_stops =  []
for stop in bad_stops:
    bad_trips = pd.concat([bad_trips,stop_times[(stop_times['stop_id']==stop)]])
bad_trips['error_type'] = "BAD STOP"

In [6]:
#Bad Pairs
stop_times['error_type'] = 'BAD PAIR'
bad_pairs = [ (140043,140044), (140044,102929)]
for pair in bad_pairs:
    bad_trips = pd.concat([bad_trips,stop_times[(stop_times['stop_id']==pair[0]) & (stop_times['stop_idnx']==pair[1])]])
issues = bad_trips.merge(trips, on='trip_id')

In [8]:
issues.groupby(by='shape_id').max().sort_values(by='stop_id')
#issues.sort_values(by=['shape_id','stop_id'])[['shape_id','stop_id','stop_idnx']]

,arrival_time,departure_time,drop_off_type,error_type,pickup_type,stop_id,stop_idnx,stop_sequence,timepoint,trip_id,...,trip_sequence,trip_type,trip_headsign,direction_id,pattern_id,pattern_count,direction_code,pattern_code,pattern_rank,hierarchy
shape_id,,,,,,,,,,,,,,,,,,,,,
7-8-151,24:48:00,24:48:00,0.0,BAD PAIR,0.0,140044.0,140044.0,9.0,0.0,ab2309386,...,20,0,University to UBCO,0,201,368,1,201,38,1
7-8-157,11:35:00,11:35:00,0.0,BAD PAIR,0.0,140044.0,140044.0,9.0,0.0,ab2309429,...,4,0,University to Orchard Park,0,241,10,1,241,80,3

In [8]:
issues.to_excel(r'Stop_Pair_QA.xlsx')